body { font-size: 22px; font-family: verdana, arial}
ul { padding: 0; margin: 0; }
li { list-style: none; padding: 10px 15px; border-bottom: 1px solid #666; }
#wrap { width: 480px; height: 800px; -webkit-border-radius: 20px; position: relative;}
#wrap > div { display: none; }

.tit { padding: 10px 15px; border-bottom: 1px solid #666; font-weight: bold; font-size: 28px; }
#back { position: absolute; bottom: 20px; right: 20px; padding: 10px 20px; -webkit-border-radius: 8px; border: 2px solid #ccc; background: #fff; }
.rf-component-header { width: 100%; height: 50px; background: #blue; color: #fff;}
.rf-effect-bg { width:100%; height: 800px; -webkit-border-radius: 20px; background: #f2f2f2; position: absolute; top: 0; left: 0; z-index: -2 }
.rf-effect-border { width: 476px; height: 796px; -webkit-border-radius: 20px; border: 2px solid #666; position: absolute; top: 0; left: 0; z-index: -1 }
.rf-component-list { width:100%; }
.rf-component.tab {width:100%;}
.rf-component.tab-menu {width:120px;}

